<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms using thymeleaf</title>
</head>
<body>
	<h1>List of all the available tours</h1>    
    
    <div>
    	<table th:if="${!tours.empty}">
    		<tr>
    			<td>Name</td>
    			<td>Code</td>
    			<td>Continent</td>
    			<td>Date</td>
    			<td>Duration</td>
    			<td>AllInclusive</td>
    			<td>Remove</td>
    			<td>Edit</td>
    		</tr>
    		
    		<tr th:each="tour : ${tours}">
    			<td th:text="${tour.name}"></td>
    			<td th:text="${tour.code}"></td>
    			<td th:text="${tour.continent}"></td>
    			<td th:text="${tour.date}"></td>
    			<td th:text="${tour.duration}"></td>
    			<td th:text="${tour.allInclusive}"></td>
    			<td><a th:href="@{/deleteTour/} + ${tour.id}">delete</a>
    			<td><a th:href="@{/editTour/} + ${tour.id}">edit</a>
    		</tr>
    		
    	</table>
    	
    	<span th:if="${tours.empty}">NO TOURS AVAILABLE</span>
    </div>
</body>
</html>
